/******************************
common.scss
******************************/

@use "mixin" as *;
@use "variable" as *;


/******************************
width.scss
******************************/
.c-inner {
  width: min($SP-inner * 1%, $PC-inner * 1px);
  margin: 0 auto;
}

.inner {
  width: min($SP-inner * 1%, $PC-inner * 1px);
  margin: 0 auto;
}



/******************************
display.scss
******************************/
.pc-only {
  display: none;

  @include mq(md) {
    display: block;
  }
}

.sp-only {
  display: none;

  @include mq(medium) {
    display: block;
  }
}

/******************************
button.scss
******************************/

.start-button {
  display: block;
  margin: 0 auto;
  line-height: 2;
  background-image: linear-gradient(0deg, #E50000, #FF0000 30%, #FF2222 74%, #FFA0A0);
  color: $c-white;
  text-align: center;
  font-weight: 700;

  @include mq(md) {
    border-radius: 0.8em;
  }
  @include mq(medium) {
    border-radius: 1em;
  }
}

/******************************
text.scss
******************************/
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-main {
  color: $c-main;
}

.text-sub {
  color: $c-sub;
}

.text-point {
  color: $c-point;
  font-weight: 700;
}

.text-bold {
  font-weight: 700;
}

.text-underline {
  text-decoration: underline;
}

