/******************************
header.scss
******************************/
@use "common" as *;
@use "mixin" as *;

.p-header {
  background-color: #ededed;

  &-nav {
    &__list {
      font-weight: 700;
      // @include pcFont(14);
      @include mq(md) {
        font-size: 16px;
      }
      @include mq(medium) {
        font-size: 16px;
      }
    }
    &__item {
      @include mq(medium) {
        line-height: 3;
        border-bottom: 1px solid #000000;
      }
    }
  }
  &__button {
    @include pcFont(16);
    @include spFont(22);
  }
}

.p-hamburger {
  @include mq(medium) {
    cursor: pointer;
  }

  &__bg {
    background-color: #333333;
    opacity: 0;
    transition: opacity 1s ease-in-out;

    &.is-active {
      opacity: 0.6;
    }
  }
}

.x_logo img{
  padding: 1vh 0;
  @include mq(medium) {
    width: 26px;
  }
  }