/******************************
l-header.scss
******************************/
@use "mixin" as *;
@use "variable" as *;
@use "common" as *;

.l-header {

  // position: fixed;

  

  &__inner {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    height: 70px;
    // @include flex-all {
    //   gap: 5%;
    // }

    @include mq(small) {
      height: 60px;
    }
  }

  &__logo {
    width: 270px;
    // @include mq(md) {
    //   flex: 1 1 pcWidth(253);
    // }

    @include mq(medium) {
      flex: 0 1 50%;
    }

    @include mq(small) {
      flex: 0 1 70%;
    }
  }

  &-nav {
    // @include mq(md) {
    //   flex: 1 1 pcWidth(493);
    // }

    @include mq(medium) {
      flex: 0 1 50px;
    }

    @include mq(small) {
      margin-top: -1vh;
    }

    &__wrapper {
      @include mq(medium) {
        position: fixed;
        top: 0;
        right: -300px;
        width: 300px;
        height: 100vh;
        background-color: $c-white;
        transition: right 0.5s ease-in-out;
        z-index: 99;
        padding: calc(1rem + 75px) spWidth(17) spWidth(48);

        &.is-active {
          right: 0;
        }
      }
    }

    &__list {
      @include flex-md($j: flex-start) {
        gap: 0 30px;
      }
    }
  }
  &__button {
    flex: 1 1 pcWidth(267);
  }
}

.l-hamburger {
  @include mq(medium) {
    position: relative;
    width: 50px;
    height: 50px;
    z-index: 100;
  }

  &__line {
    display: inline-block;
    width: 45%;
    height: 3px;
    background-color: $c-black;
    transition: all 0.3s ease-in;
    position: absolute;
    left: 14px;
    border-radius: 2px;

    &:first-of-type {
      top: 15.5px;

      .is-active & {
        top: 18px;
        left: 13.75px;
        transform: translateY(6px) rotate(495deg);
      }
    }

    &:nth-of-type(2) {
      top: 23.5px;

      .is-active & {
        opacity: 0;
      }
    }

    &:last-of-type {
      top: 31.5px;

      .is-active & {
        top: 30px;
        left: 13.75px;
        transform: translateY(-6px) rotate(405deg);
      }
    }
  }

  &__bg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 98;

    &.is-active {
      display: block;
    }
  }
}
