
// /*=============================
//  design width
//  =============================*/
$PC-width: 1440;
$PC-inner: 1200;
$SP-width: 389;
$SP-inner: 90;

// /*=============================
//  color
//  =============================*/
$c-black: #333333;
$c-white: #ffffff;
$c-red: #ff0000;
$c-blue: #0000ff;
$c-orange: #ffa500;
$c-yellow: #ffff00;
$c-green: #008000;
$c-pink: #ffc0cb;
$c-gray: #cbcbcb;

$c-main: #0076be;
$c-sub: #004ea2;
$c-point: #e34b61;
