// /*=============================
//  breakpoint
//  =============================*/
$breakpoint: (
  "sm": "screen and (min-width: 426px)",
  "md": "screen and (min-width: 768px)",
  "lg": "screen and (min-width: 1024px)",
  "xl": "screen and (min-width: 1440px)",
  "sm-only": "screen and (max-width: 425.98px)",
  "md-only": "screen and (min-width: 426px) and ( max-width:1023.98px)",
  "lg-only": "screen and (min-width: 1024px) and ( max-width:1439.98px)",
  "sm-md": "screen and (max-width: 767.98px)",
) !default;

// /*=============================
//  design width
//  =============================*/
$PC-width: 1440;
$PC-inner: 1277;
$SP-width: 389;
$SP-inner: 90;

// /*=============================
//  color
//  =============================*/
$c-black: #333333;
$c-white: #ffffff;
$c-red: #ff0000;
$c-blue: #0000ff;
$c-orange: #ffa500;
$c-yellow: #ffff00;
$c-green: #008000;
$c-pink: #ffc0cb;
$c-gray: #cbcbcb;

$c-main: #0076be;
$c-sub: #004ea2;
$c-point: #e34b61;
