/******************************
text.scss
******************************/
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-main {
  color: $c-main;
}

.text-sub {
  color: $c-sub;
}

.text-point {
  color: $c-point;
  font-weight: 700;
}

.text-bold {
  font-weight: 700;
}

.text-underline {
  text-decoration: underline;
}
