
/******************************
header.scss
******************************/
@use "common" as *;

header{
  position: sticky;
  top: 0;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 55px;
  background-color: #eeeeee;
  border-bottom: solid 5px #814D00;
  padding: 0 2vw;

  @media screen and (max-width: 503px) {
    justify-content: center;
    height: 85px;
  }
}

.logo_bodoge{
  padding-top: 1vh;

  img{
    width: 256px;
  }
}

.header-nav {
  @include font18;
  margin-top: 1vh;
  font-size: 18px;
  
  display: flex;
  gap: min(3vh,20px);
  @media screen and (max-width: 503px) {
    margin-top: -1vh;
  }

}
.x_logo{
  padding-top: 0.5vh;
  }