/******************************
main.scss
******************************/
@use "common" as *;

.wrapper{
  max-width: 1100px;
  width: 100%;
  background-color: #F1EAE3;
  box-shadow: 0 0 10px #7a5216;
}

#contents{
  display: flex;
  flex-direction: column;
  row-gap: min(12vh,70px);
  padding-bottom: 120px;
  max-width: 1000px;
  margin: auto;
  padding:0 1em;
  padding-bottom: 5vh;

  @include mq(small) {
    row-gap: 5vh;
  }
}

.mv{
  max-width: 1000px;
  width: 100%;
  padding:0;
  border: solid 5px #814D00;
  border-image: linear-gradient(150deg, #814D00 10%, #FBBF66 50%, #814D00 60%, #FBBF66 90%) 1;
  margin: auto;
  margin-top: 5vh;
  box-shadow: 0 0 10px #7a5216;
  background: url(../images/space_mv.jpg) no-repeat;
  background-size:cover;
  background-position: center;
  color: #fff;
  aspect-ratio: 50/17;

  @include mq(small) {
    background: url(../images/space_mv_sp.jpg) no-repeat;
    background-size:100%;
    background-position: center;
    width: 95%;
    height: 190px;
    // height: 450px;
  }

  // h1{
  //   font-feature-settings: "palt";
  //   word-break: keep-all;
  //   font-size: min(8vw,35px);
  //   line-height: 1.5em;
  //   letter-spacing: 0.1em;
  //   padding-right: 0em;
  //   }

  // .text_area{
  //   padding-top: min(1vw,40px);
  //   padding-left: min(2vw,70px);
  //   background-color:"#dbdbdb";
  //   text-shadow: 0px 2px 7px rgba(0, 0, 0, 0.5);

  //   @include mq(small) {
  //     padding-top: 160px;
  //     text-shadow: 1px 3px 3px rgba(0, 0, 0, 5);
  //   }
  // }

  .catch{
    font-size: min(6vw,30px);
    line-height: 1.8em;
    margin: 0;
    letter-spacing: 0.1em;

      &_large{
        font-size: min(5vw,51px);
        padding-top: 1em;
      
        @include mq(medium) {
          display: none;
        }
      }

      &_large_sp {
        font-size: min(2em,50px);
        line-height: 1.2em;
        padding-top: 0em;

        @include mq(large) {
          display: none;
        }

        @include mq(small) {
          display: block;
        }
      }
  }
}


.text_area{
  margin-top: -40px;
  margin-bottom: 20px;
  
  background-color:"#dbdbdb";

}
h1{
  text-align: center;
  margin: auto;
  word-break:keep-all;
  font-size: 3vh;
  line-height: 1.5em;
  }


@media screen and (max-width: 816px) {
  h1 {line-height: 1.5em; font-size: 2.5vh;}
  }

  @media screen and (max-width: 480px) {
    h1 {line-height: 1.2em; font-size: 2.5vh; padding-top: 10px;}
    }
  

/******************************
contents
******************************/

/******************************
category_1
******************************/

.category_1 {
  width: 95%;
  margin: auto;
  @include font25;
  line-height: 1.5em;
  text-align: center;
  
    &__title_about{
      @include font50;
      line-height: 1.2em;
      text-align: center;
      margin-bottom: 01em;
      letter-spacing: 0.2em;
      word-break: keep-all;
    }

  .title_text25{
    @include font35;
  }
    
    &__text{
      line-height: 1.6em;
      margin: auto;
      padding-bottom: 2em;
      // text-align: left;
      // display: inline-block;  
      word-break: keep-all;
      // width: 80%;
    }

    &__gamelist{
      line-height: 1.6em;
      padding: 0 0 2em 1em;
      text-align: left;
      display: inline-block;  
      @include font20;
    }
      
    &__text40{
      line-height: 1.4em;
      @include font40
    }
    &__text35{
      line-height: 1.4em;
      @include font35
    }

    &__text25{
      line-height: 1.4em;
      @include font25
    }
  
    .pc_de_bodoge{
      display: flex;
      align-items: top;
      justify-content: center;
      
      @include mq(small) {
        display: inline-block;
      }
    }

    .pc_bodoge_image img{
      border: solid 2px #FBBF66;
      box-shadow: 0 0 5px #7a5216;
      margin: 0.5em 0 0 0.5em;
      float: right;
      width: clamp(200px, 30vw, 400px);
      
      @include mq(small) {
        width: 240px;
        float: none;
        margin-bottom: 1em;
      }
    }

  ul.list{
    padding: 0 0 2em 2em;
      list-style: square;
      line-height: 1.3em;
      text-align: left;      
      display: inline-block;
    
      @include mq(small) {
        width: 90%;
        margin: auto;
        padding: 0 0 1em 1em;
      }
  }

  ul.list li{
    padding-bottom: 1em;
  }
}

/******************************
category_2
******************************/

.category_2 {
  width: 100%;
  text-align: center;
  

  h2{
  @include font25;

  }

  p{
    @include font25;
  word-break: keep-all;
  }

  &__title{
    @include font50;
    color:#814D00;
    text-align: center;
    white-space: no-wrap;
    // position: relative;
    display: inline-block;

      img {
        width: min(2em,100px);
        
        display: inline-block;
      }

      .title_text{
        padding: 0 0.2em;
      }
  }
  
  &__waku{
    max-width: 1000px;
    padding: 4vh;
    margin-top: 2vh;
    text-align: center;
    border-top: solid 5px #814D00;
    border-bottom: solid 5px #814D00;
    border-image: linear-gradient(90deg, #814D00 0%, #FBBF66 50%, #814D00 100%) 1;
    background-color: #E4D9CF;
    word-break:break-all;

    @media screen and (max-width: 420px) {
      padding: 2vh 5px;
    }
  }

  &__layout_left {
    text-align: left;
    display: inline-block;  
  }
  
  /* shop */

  &__calendar_waku {
    max-width: 1000px;
    // height: 680px;
    height: auto;
    padding: 3vh 4vh;
    margin-top: 2vh;
    text-align: center;
    border-top: solid 5px #814D00;
    border-bottom: solid 5px #814D00;
    border-image: linear-gradient(90deg, #814D00 0%, #FBBF66 50%, #814D00 100%) 1;
    background-color: #E4D9CF;
    word-break: keep-all;

    @include mq(small) {
      padding: 2vh 5px;
      // height: 750px;
      height: auto;
    }
  }

  #calendar{
    // aspect-ratio: 4 / 2;
    text-align: center;
  }
  }

/******************************
shop
******************************/

.shop{
  width: 90%;
  margin: auto;
  text-align: center;
  word-break: keep-all;
  line-height: 1em;
  @include font25;

  .image_3d{
    flex-wrap: wrap;
  display: flex;
  justify-content: center;
  column-gap: 0.5vw;
  }

  .image_3d img{
    border: solid 2px #FBBF66;
    box-shadow: 0 0 5px #7a5216;
    margin-bottom: 1vh;
    width: 280px;
    // width: min(70%,600px);
    margin: 1vh;

    @include mq(small) {
      width: 180px;
    }
  }



}


/******************************
map
******************************/

.map_waku{
  max-width: 1000px;
  padding: 0 0 1px 0;
  margin-top: 1vh;
  text-align: center;
  border: solid 1px #814D00;
  border-image: linear-gradient(150deg, #814D00 10%, #FBBF66 50%, #814D00 60%, #FBBF66 90%) 1;
  background-color: #E4D9CF;
}