@charset "UTF-8";
/******************************
reset.scss
******************************/
/*! destyle.css v3.0.0 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  -moz-appearance: none;
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
}

[type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
  appearance: radio;
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
}

button:disabled,
[type="button"]:disabled,
[type="reset"]:disabled,
[type="submit"]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type="search"] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/******************************
base.scss
******************************/
html {
  font-size: 12px;
}
@media screen and (min-width: 426px) {
  html {
    font-size: 13px;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 14px;
  }
}
@media screen and (min-width: 1024px) {
  html {
    font-size: 15px;
  }
}
@media screen and (min-width: 1440px) {
  html {
    font-size: 16px;
  }
}

body {
  overflow-x: hidden;
  width: 100%;
  color: #333333;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
}

img {
  width: 100%;
  height: auto;
}

p {
  line-height: 1.6;
  -webkit-font-feature-settings: "palt";
  font-feature-settings: "palt";
}
@media screen and (min-width: 768px) {
  p {
    font-size: min(1.1111111111vw, 16px);
  }
}
@media screen and (max-width: 767.98px) {
  p {
    font-size: 3.5989717224vw;
  }
}

a {
  display: block;
}
a:hover {
  opacity: 0.9;
}

blockquote {
  background-color: rgba(203, 203, 203, 0.5);
  border-radius: 1rem;
  padding: 1em;
  margin-bottom: 1rem;
}

:focus {
  outline: none;
}

/******************************
l-header.scss
******************************/
.l-header {
  position: relative;
  width: 100%;
  padding: 1rem 0;
}
.l-header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 5%;
}
@media screen and (min-width: 768px) {
  .l-header__logo {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 19.8120595145%;
    flex: 1 1 19.8120595145%;
  }
}
@media screen and (max-width: 767.98px) {
  .l-header__logo {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 70%;
    flex: 0 1 70%;
  }
}
@media screen and (min-width: 768px) {
  .l-header-nav {
    -webkit-box-flex: 5;
    -ms-flex: 5 1 38.6061080658%;
    flex: 5 1 38.6061080658%;
  }
}
@media screen and (max-width: 767.98px) {
  .l-header-nav {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50px;
    flex: 0 1 50px;
  }
}
@media screen and (max-width: 767.98px) {
  .l-header-nav__wrapper {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    background-color: #ffffff;
    -webkit-transition: right 0.5s ease-in-out;
    transition: right 0.5s ease-in-out;
    z-index: 99;
    padding: calc(1rem + 75px) 4.8557554984% 13.7103684662%;
  }
  .l-header-nav__wrapper.is-active {
    right: 0;
  }
}
@media screen and (min-width: 768px) {
  .l-header-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 0 30px;
  }
}
.l-header__button {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 20.9083790133%;
  flex: 1 1 20.9083790133%;
}

@media screen and (max-width: 767.98px) {
  .l-hamburger {
    position: relative;
    width: 50px;
    height: 50px;
    z-index: 100;
  }
}
.l-hamburger__line {
  display: inline-block;
  width: 45%;
  height: 3px;
  background-color: #333333;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  position: absolute;
  left: 14px;
  border-radius: 2px;
}
.l-hamburger__line:first-of-type {
  top: 15.5px;
}
.is-active .l-hamburger__line:first-of-type {
  top: 18px;
  left: 13.75px;
  -webkit-transform: translateY(6px) rotate(495deg);
  transform: translateY(6px) rotate(495deg);
}
.l-hamburger__line:nth-of-type(2) {
  top: 23.5px;
}
.is-active .l-hamburger__line:nth-of-type(2) {
  opacity: 0;
}
.l-hamburger__line:last-of-type {
  top: 31.5px;
}
.is-active .l-hamburger__line:last-of-type {
  top: 30px;
  left: 13.75px;
  -webkit-transform: translateY(-6px) rotate(405deg);
  transform: translateY(-6px) rotate(405deg);
}
.l-hamburger__bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 98;
}
.l-hamburger__bg.is-active {
  display: block;
}

/******************************
l-main.scss
******************************/
.l-MV {
  padding-top: 3.1323414252%;
}
@media screen and (min-width: 768px) {
  .l-MV__contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
.l-MV__txt {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 70%;
  flex: 0 1 70%;
}
.l-MV__figure {
  overflow-y: hidden;
  margin-right: 2.3492560689%;
}
@media screen and (min-width: 768px) {
  .l-MV__figure {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 27.0164447925%;
    flex: 0 1 27.0164447925%;
    aspect-ratio: 345/605;
  }
}
@media screen and (max-width: 767.98px) {
  .l-MV__figure {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    aspect-ratio: 286/367;
  }
}
@media screen and (min-width: 768px) {
  .l-MV__text {
    margin: 3.9154267815% 0 7.830853563%;
  }
}
@media screen and (max-width: 767.98px) {
  .l-MV__text {
    margin: 8.5689802913% auto;
  }
}
@media screen and (min-width: 768px) {
  .l-MV__button {
    width: 57%;
  }
}
@media screen and (max-width: 767.98px) {
  .l-MV__button {
    width: 100%;
    margin-bottom: 14.2816338189%;
  }
}

@media screen and (min-width: 768px) {
  .l-image {
    padding: 2.3492560689% 0 6.2646828504%;
  }
}
@media screen and (max-width: 767.98px) {
  .l-image {
    padding: 8.5689802913% 0 20.5655526992%;
  }
}
@media screen and (min-width: 768px) {
  .l-image__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
.l-image__item {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 30%;
  flex: 0 1 30%;
}
@media screen and (max-width: 767.98px) {
  .l-image__item:not(:last-of-type) {
    margin-bottom: 17.1379605827%;
  }
}

@media screen and (min-width: 768px) {
  .l-merit {
    padding: 3.1323414252% 0 5.6382145654%;
  }
}
@media screen and (max-width: 767.98px) {
  .l-merit {
    padding: 8.5689802913% 0 28.5632676378%;
  }
}
@media screen and (min-width: 768px) {
  .l-merit__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}
.l-merit__item:nth-of-type(odd) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
@media screen and (min-width: 768px) {
  .l-merit__item {
    margin-bottom: 3.1323414252%;
  }
}
@media screen and (max-width: 767.98px) {
  .l-merit__item:not(:last-of-type) {
    margin-bottom: 21.4224507284%;
  }
}
.l-merit__figure {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 58%;
  flex: 0 1 58%;
}
.l-merit__txt {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
}

@media screen and (min-width: 768px) {
  .l-about {
    padding: 3.1323414252% 0 5.0117462803%;
  }
}
@media screen and (max-width: 767.98px) {
  .l-about {
    padding: 8.5689802913% 0 14.2816338189%;
  }
}
@media screen and (min-width: 768px) {
  .l-about__image {
    margin-bottom: 4.228660924%;
  }
}
@media screen and (max-width: 767.98px) {
  .l-about__image {
    margin-bottom: 15.4241645244%;
  }
}
.l-about__item {
  gap: 5.090054816%;
}
@media screen and (min-width: 768px) {
  .l-about__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .l-about__item {
    margin-bottom: 2.3492560689%;
    padding: 5.8731401723% 7.830853563%;
  }
}
@media screen and (max-width: 767.98px) {
  .l-about__item {
    padding: 10.2827763496% 4.2844901457%;
  }
  .l-about__item:not(:last-of-type) {
    margin-bottom: 7.1408169095%;
  }
}
.l-about__figure {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 30%;
  flex: 0 1 30%;
}
@media screen and (max-width: 767.98px) {
  .l-about__figure {
    width: 55%;
    margin: 0 auto 8.5689802913%;
  }
}
.l-about__txt {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 65%;
  flex: 0 1 65%;
}

.l-campaign {
  position: relative;
}
@media screen and (min-width: 768px) {
  .l-campaign {
    padding: 4.228660924% 0 6.577916993%;
  }
}
@media screen and (max-width: 767.98px) {
  .l-campaign {
    padding: 12.853470437% 0 99.9714367324%;
  }
}
@media screen and (min-width: 768px) {
  .l-campaign__h2 {
    width: 62%;
    margin: 0 auto 4.8551292091%;
    padding: 1.0180109632% 0 4.3852779953%;
  }
}
@media screen and (max-width: 767.98px) {
  .l-campaign__h2 {
    width: 100%;
    padding: 1.7137960583% 0 7.4264495858%;
  }
}
@media screen and (min-width: 768px) {
  .l-campaign__catch {
    margin-bottom: 4.6985121378%;
  }
}
@media screen and (max-width: 767.98px) {
  .l-campaign__catch {
    margin-bottom: 9.4258783205%;
  }
}
@media screen and (min-width: 768px) {
  .l-campaign__text {
    margin-bottom: 4.6985121378%;
  }
}
@media screen and (max-width: 767.98px) {
  .l-campaign__text {
    margin-bottom: 9.4258783205%;
  }
}
@media screen and (min-width: 768px) {
  .l-campaign__button {
    width: 39.9373531715%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 767.98px) {
  .l-campaign__button {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .l-contact {
    padding: 3.1323414252% 0 5.2466718872%;
  }
}
@media screen and (max-width: 767.98px) {
  .l-contact {
    padding: 8.5689802913% 0 17.1379605827%;
  }
}
@media screen and (min-width: 768px) {
  .l-contact__text {
    margin-bottom: 2.3492560689%;
  }
}
@media screen and (max-width: 767.98px) {
  .l-contact__text {
    margin-bottom: 14.8528991717%;
  }
}
.l-contact__mail a {
  position: relative;
}
@media screen and (min-width: 768px) {
  .l-contact__mail a {
    width: 32.419733751%;
    padding: 0 5.0117462803% 0 10.4933437745%;
    margin: 0 auto 5.716523101%;
  }
}
@media screen and (max-width: 767.98px) {
  .l-contact__mail a {
    width: 77.6920879749%;
    padding: 0 17.7092259354% 0 23.9931448158%;
    margin: 0 auto 15.138531848%;
  }
}
@media screen and (min-width: 768px) {
  .l-contact__text2 {
    margin-bottom: 5.6382145654%;
  }
}
@media screen and (max-width: 767.98px) {
  .l-contact__text2 {
    margin-bottom: 14.8528991717%;
  }
}
@media screen and (min-width: 768px) {
  .l-contact__button {
    width: 39.9373531715%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 767.98px) {
  .l-contact__button {
    width: 100%;
  }
}

/******************************
l-footer.scss
******************************/
@media screen and (min-width: 768px) {
  .l-footer {
    padding: 2.6624902114% 0 1.9577133908%;
  }
}
@media screen and (max-width: 767.98px) {
  .l-footer {
    padding: 11.9965724079% 0 4.8557554984%;
  }
}
@media screen and (min-width: 768px) {
  .l-footer__nav {
    margin-bottom: 1.3312451057%;
  }
}
@media screen and (max-width: 767.98px) {
  .l-footer__nav {
    margin-bottom: 25.706940874%;
  }
}
@media screen and (min-width: 768px) {
  .l-footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
.l-footer__item {
  padding: 0 1em;
}

/******************************
heading.scss
******************************/
.c-hd-lv2 {
  position: relative;
  text-align: center;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .c-hd-lv2 {
    font-size: min(3.4027777778vw, 49px);
  }
}
@media screen and (max-width: 767.98px) {
  .c-hd-lv2 {
    font-size: 5.1413881748vw;
  }
}
@media screen and (min-width: 768px) {
  .c-hd-lv2 {
    margin-bottom: 10.1801096319%;
  }
}
@media screen and (max-width: 767.98px) {
  .c-hd-lv2 {
    margin-bottom: 23.421879463%;
  }
}
.c-hd-lv2::after {
  display: block;
  content: "";
  width: 188px;
  height: 10px;
  background-color: #fccbcb;
}
@media screen and (min-width: 768px) {
  .c-hd-lv2::after {
    position: absolute;
    top: calc(100% + 30px);
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
@media screen and (max-width: 767.98px) {
  .c-hd-lv2::after {
    position: absolute;
    top: calc(100% + 20px);
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

/******************************
button.scss
******************************/
.c-button {
  display: block;
  margin: 0 auto;
  line-height: 2.5;
  background-color: #005be1;
  color: #ffffff;
  text-align: center;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .c-button {
    border-radius: 0.5em;
  }
}
@media screen and (max-width: 767.98px) {
  .c-button {
    border-radius: 1em;
  }
}

/******************************
display.scss
******************************/
.pc-only {
  display: none;
}
@media screen and (min-width: 768px) {
  .pc-only {
    display: block;
  }
}

.sp-only {
  display: none;
}
@media screen and (max-width: 767.98px) {
  .sp-only {
    display: block;
  }
}

/******************************
text.scss
******************************/
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-main {
  color: #0076be;
}

.text-sub {
  color: #004ea2;
}

.text-point {
  color: #e34b61;
  font-weight: 700;
}

.text-bold {
  font-weight: 700;
}

.text-underline {
  text-decoration: underline;
}

/******************************
width.scss
******************************/
.c-inner {
  width: min(90%, 1277px);
  margin: 0 auto;
}

/******************************
parts.scss
******************************/
.l-header {
  position: relative;
  width: 100%;
  margin: 1rem auto;
}
.l-header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .l-header__logo {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 15%;
    flex: 0 1 15%;
  }
}
@media screen and (max-width: 767.98px) {
  .l-header__logo {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 30%;
    flex: 0 1 30%;
  }
}
.l-header-nav {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 70%;
  flex: 0 1 70%;
}
@media screen and (max-width: 767.98px) {
  .l-header-nav {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100vh;
    -webkit-transition: right 0.5s ease-in-out;
    transition: right 0.5s ease-in-out;
    z-index: 99;
  }
  .l-header-nav.is-active {
    right: 0;
  }
}
@media screen and (min-width: 768px) {
  .l-header-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 0 30px;
  }
}
@media screen and (max-width: 767.98px) {
  .l-header-nav__list {
    height: 100vh;
  }
}

.p-header-nav__list {
  background-color: #ffffff;
}

@media screen and (max-width: 767.98px) {
  .l-hamburger {
    position: relative;
    width: 50px;
    height: 50px;
    z-index: 100;
  }
}
.l-hamburger__line {
  display: inline-block;
  width: 45%;
  height: 3px;
  background-color: #333333;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  position: absolute;
  left: 14px;
  border-radius: 2px;
}
.l-hamburger__line:first-of-type {
  top: 15.5px;
}
.is-active .l-hamburger__line:first-of-type {
  top: 18px;
  left: 13.75px;
  -webkit-transform: translateY(6px) rotate(495deg);
  transform: translateY(6px) rotate(495deg);
}
.l-hamburger__line:nth-of-type(2) {
  top: 23.5px;
}
.is-active .l-hamburger__line:nth-of-type(2) {
  opacity: 0;
}
.l-hamburger__line:last-of-type {
  top: 31.5px;
}
.is-active .l-hamburger__line:last-of-type {
  top: 30px;
  left: 13.75px;
  -webkit-transform: translateY(-6px) rotate(405deg);
  transform: translateY(-6px) rotate(405deg);
}
.l-hamburger__bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 98;
}
.l-hamburger__bg.is-active {
  display: block;
}

@media screen and (max-width: 767.98px) {
  .p-hamburger {
    cursor: pointer;
    background-color: #0076be;
  }
  .p-hamburger__line {
    background-color: #ffffff;
  }
}
.p-hamburger__bg {
  background-color: #333333;
  opacity: 0;
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
.p-hamburger__bg.is-active {
  opacity: 0.6;
}

.c-hd-lv1 {
  font-weight: 700;
  text-align: center;
}

.c-hd-lv2 {
  font-weight: 500;
  text-align: center;
  margin: 1em;
}

.l-mv__item {
  width: 100%;
  height: calc(100vh - 5rem);
}
.l-mv__img {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.l-slider__list {
  width: 90%;
  margin: 0 auto;
}

.slick-arrow {
  z-index: 99;
}
.slick-arrow::before {
  color: #000000;
}

.l-FAQ__list {
  width: min(95%, 750px);
  margin: auto;
}
.l-FAQ__item {
  width: 100%;
}

.p-FAQ__item {
  color: #ffffff;
  margin-bottom: 0.5em;
}
.p-FAQ__Q {
  position: relative;
  padding: 0.3em 2em;
  background-color: #0076be;
  border-radius: 0.3em;
  z-index: 1;
}
.p-FAQ__Q::before {
  content: "Q:";
  width: 1em;
  height: 1em;
}
.p-FAQ__Q::after {
  font-family: "Font Awesome 5 Free";
  content: "+";
  font-weight: 900;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 2em;
  -webkit-transform-origin: center center 0;
  transform-origin: center center 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.is-active .p-FAQ__Q::after {
  -webkit-transform: translateY(-50%) rotate(360deg);
  transform: translateY(-50%) rotate(360deg);
  content: "－";
}
.p-FAQ__A {
  padding: 0 2em;
  background-color: rgba(0, 118, 190, 0.7);
  border-radius: 0.3em;
  -webkit-transition:
    opacity 1.5s ease-in-out,
    -webkit-transform 1s;
  transition:
    opacity 1.5s ease-in-out,
    -webkit-transform 1s;
  transition:
    transform 1s,
    opacity 1.5s ease-in-out;
  transition:
    transform 1s,
    opacity 1.5s ease-in-out,
    -webkit-transform 1s;
  display: none;
}
.p-FAQ__A::before {
  content: "A:";
  width: 1em;
  height: 1em;
}
.p-FAQ__A.is-open {
  padding: 0.3em 2em;
  display: block;
}

.p-contact__table {
  width: 100%;
}
.p-contact__th {
  width: 30%;
  padding: 0.5em 0;
  line-height: 1.6;
}
@media screen and (max-width: 767.98px) {
  .p-contact__th {
    display: block;
    width: 100%;
    padding-bottom: 0;
  }
}
.p-contact__td {
  width: 70%;
  padding: 0.5em 0;
}
@media screen and (max-width: 767.98px) {
  .p-contact__td {
    display: block;
    width: 100%;
  }
}
.p-contact__input {
  background-color: #ffffff;
  width: 100%;
  padding: 0.2em;
  line-height: 1.8;
  border: 1px solid #000000;
}
.p-contact__radio {
  padding: 0.8em;
}
.p-contact__label {
  position: relative;
  margin: 0 5%;
  line-height: 2;
}
.p-contact__label::before {
  display: inline-block;
  content: "";
  width: 1.2em;
  height: 1.2em;
  border: 1.5px solid #0076be;
  border-radius: 50%;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: -1.5em;
}
.p-contact__radio {
  display: none;
}
.p-contact__required {
  display: inline-block;
  background-color: #ff0000;
  border-radius: 0.3em;
  color: #ffffff;
  padding: 0 0.8em;
  margin-left: 0.5em;
  font-weight: 400;
  line-height: 1.6;
}
.p-contact textarea {
  height: 10em;
}
.p-contact__privacy {
  text-align: center;
  margin: 20px auto 3rem;
}
.p-contact__privacy input[type="checkbox"]:checked + label:before {
  content: "✓";
  font-size: 1em;
  color: #ffffff;
  background-color: #0076be;
}
.p-contact__checkbox {
  display: none;
}
.p-contact__check-label {
  position: relative;
  padding-left: 2em;
}
.p-contact__check-label::before {
  display: inline-block;
  content: "";
  width: 1.5em;
  height: 1.5em;
  border: 1.5px solid #333;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  background-color: #ffffff;
}
.p-contact__check-label a {
  color: #29aae1;
  display: inline;
}
.p-contact .p-contact__td input[type="radio"]:checked + label::after {
  display: inline-block;
  content: "";
  width: 0.8em;
  height: 0.8em;
  border-radius: 50%;
  background-color: #2aa998;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: -1.3em;
}
.p-contact__submit {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5em 2em;
  margin: 0 auto;
  border-radius: 0.4em;
  background-color: #e34b61;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .l-flow__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 3rem;
  }
}
.l-flow__item {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 calc((100% - 9rem) / 4);
  flex: 0 1 calc((100% - 9rem) / 4);
}
@media screen and (max-width: 767.98px) {
  .l-flow__item {
    margin-bottom: 3rem;
  }
}
@media screen and (min-width: 768px) {
  .l-flow__item:not(:first-of-type)::after {
    content: "▶";
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: -2rem;
  }
}
@media screen and (max-width: 767.98px) {
  .l-flow__item:not(:first-of-type)::after {
    content: "▼";
    position: absolute;
    top: -2rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
.l-flow__item::before {
  content: attr(date-value);
  font-weight: 900;
  color: #e34b61;
  line-height: 1;
  position: absolute;
  top: -0.5em;
  left: -0.5em;
}
@media screen and (min-width: 768px) {
  .l-flow__item::before {
    font-size: min(4.1666666667vw, 60px);
  }
}
@media screen and (max-width: 767.98px) {
  .l-flow__item::before {
    font-size: 12.853470437vw;
  }
}

.p-flow__title {
  margin-bottom: 0.3em;
  margin-top: 0.3em;
  font-weight: 700;
} /*# sourceMappingURL=part.css.map */
