// ******************************
// breakpoint
// ******************************
@mixin mq($bp) {
  @media #{map-get($breakpoint, $bp)} {
    @content;
  }
}


$breakpoint: (
  "small": "screen and (max-width: 450px)",
  "medium": "screen and (max-width: 768px)",
  "large": "screen and (min-width: 769px)",
) !default;






// ******************************
// font-family
// ******************************
@mixin kaisei-opti-regular {
  font-family: "Kaisei Opti", serif;
  font-weight: 400;
  font-style: normal;
}

@mixin kaisei_opti_medium {
  font-family: "Kaisei Opti", serif;
  font-weight: 500;
}

@mixin kaisei-opti-bold {
  font-family: "Kaisei Opti", serif;
  font-weight: 700;
  font-style: normal;
}

@mixin sans-serif($weight: 500) {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: $weight;
}

@mixin murecho-bold {
  font-family: "Murecho", sans-serif;
  font-weight: 900;
}




// @mixin serif($weight: 500) {
//   font-family: "Noto Serif JP", serif;
//   font-weight: $weight;
// }


@mixin font50{
  font-size: min(9vw,50px);
}
.font50{
  font-size: min(9vw,50px);
}

@mixin font40{
  font-size: min(8vw,40px);
}

.font40{
  font-size: min(8vw,40px);
}

@mixin font35{
  line-height: 1.8em;
  font-size: min(7vw,35px);
}

.font35{
  line-height: 1.8em;
  font-size: min(7vw,35px);
}

@mixin font25 {
  font-size: min(7vw,25px);
}

.font25 {
font-size: min(7vw,25px);
}

@mixin font20 {
  font-size: min(6vw,20px);
}

.font20 {
  font-size: min(6vw,20px);
}

@mixin font18 {
  font-size: min(5vw,18px);
}

.font18 {
  font-size: min(5vw,18px);
}

@mixin caption_1 {
  font-size: min(3vw,14px);
}

.font_red{
  color: #be0000;
}

// ******************************
// padding
// ******************************

.padding_5 {
  padding-bottom: 5px;
  display: block;
}

.padding_10 {
  padding-bottom: 10px;
  display: block;
}

.padding_15 {
  padding-bottom: 15px;
  display: block;
}

.padding_20 {
  padding-bottom: 20px;
  display: block;
}

.padding_30 {
  padding-bottom: 30px;
  display: block;
}