@charset "UTF-8";
/******************************
base.scss
******************************/
.font50 {
  font-size: min(9vw, 50px);
}

.font40 {
  font-size: min(8vw, 40px);
}

.font35 {
  line-height: 1.8em;
  font-size: min(7vw, 35px);
}

.font25 {
  font-size: min(7vw, 25px);
}

.font20 {
  font-size: min(6vw, 20px);
}

.font18 {
  font-size: min(5vw, 18px);
}

.font_red {
  color: #be0000;
}

.padding_5 {
  padding-bottom: 5px;
  display: block;
}

.padding_10 {
  padding-bottom: 10px;
  display: block;
}

.padding_15 {
  padding-bottom: 15px;
  display: block;
}

.padding_20 {
  padding-bottom: 20px;
  display: block;
}

.padding_30 {
  padding-bottom: 30px;
  display: block;
}

html {
  background-color: #dfc4aa;
}

body {
  font-family: "Kaisei Opti", serif;
  font-weight: 700;
  font-style: normal;
  overflow-x: hidden;
  width: 100%;
  color: #543200;
  margin: auto;
  max-width: 1100px;
}
body a {
  color: #543200;
}

/******************************
header.scss
******************************/
header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 99;
  height: 60px;
  background-color: #fff;
  border-bottom: solid 5px #814D00;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5vh 2vw 0;
}

.x_logo {
  padding-top: 0.5vh;
}

/******************************
main.scss
******************************/
.wrapper {
  max-width: 1100px;
  width: 100%;
  background-color: #F1EAE3;
  box-shadow: 0 0 10px #7a5216;
}

#contents {
  display: flex;
  flex-direction: column;
  row-gap: min(12vh, 70px);
  padding-bottom: 120px;
  max-width: 1000px;
  margin: auto;
  padding: 0 1em;
  padding-bottom: 5vh;
}
@media screen and (max-width: 450px) {
  #contents {
    row-gap: 5vh;
  }
}

.mv {
  max-width: 1000px;
  width: 100%;
  padding: 0;
  border: solid 5px #814D00;
  border-image: linear-gradient(150deg, #814D00 10%, #FBBF66 50%, #814D00 60%, #FBBF66 90%) 1;
  margin: auto;
  margin-top: 5vh;
  box-shadow: 0 0 10px #7a5216;
  background: url(../images/space_mv.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  aspect-ratio: 50/17;
}
@media screen and (max-width: 450px) {
  .mv {
    background: url(../images/space_mv_sp.jpg) no-repeat;
    background-size: cover;
    background-position: top;
    width: 95%;
    height: 450px;
  }
}
.mv h1 {
  word-break: keep-all;
  font-size: min(8vw, 35px);
  line-height: 1.2em;
  letter-spacing: 0.1em;
  padding-right: 3.5em;
}
.mv .text_area {
  padding-top: min(1vw, 40px);
  padding-left: min(2vw, 70px);
  background-color: "#dbdbdb";
  text-shadow: 0px 2px 7px rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 450px) {
  .mv .text_area {
    padding-top: 170px;
    text-shadow: 1px 3px 3px rgb(0, 0, 0);
  }
}
.mv .catch {
  font-size: min(6vw, 30px);
  line-height: 1.8em;
  margin: 0;
  letter-spacing: 0.1em;
}
.mv .catch_large {
  font-size: min(5vw, 51px);
  padding-top: 1em;
}
@media screen and (max-width: 768px) {
  .mv .catch_large {
    display: none;
  }
}
.mv .catch_large_sp {
  font-size: min(2em, 50px);
  line-height: 1.2em;
  padding-top: 0.3em;
}
@media screen and (min-width: 769px) {
  .mv .catch_large_sp {
    display: none;
  }
}
@media screen and (max-width: 450px) {
  .mv .catch_large_sp {
    display: block;
  }
}

@media screen and (max-width: 816px) {
  .mv h1 {
    line-height: 1.1em;
  }
}
/******************************
contents
******************************/
/******************************
category_1
******************************/
.category_1 {
  width: 95%;
  margin: auto;
  font-size: min(7vw, 25px);
  line-height: 1.5em;
  text-align: center;
}
.category_1__title_about {
  font-size: min(9vw, 50px);
  line-height: 1.2em;
  text-align: center;
  margin-bottom: 1em;
  letter-spacing: 0.2em;
  word-break: keep-all;
}
.category_1 .title_text25 {
  line-height: 1.8em;
  font-size: min(7vw, 35px);
}
.category_1__text {
  line-height: 1.6em;
  margin: auto;
  padding-bottom: 2em;
  word-break: keep-all;
}
.category_1__gamelist {
  line-height: 1.6em;
  padding: 0 0 2em 1em;
  text-align: left;
  display: inline-block;
  font-size: min(6vw, 20px);
}
.category_1__text40 {
  line-height: 1.4em;
  font-size: min(8vw, 40px);
}
.category_1__text35 {
  line-height: 1.4em;
  line-height: 1.8em;
  font-size: min(7vw, 35px);
}
.category_1__text25 {
  line-height: 1.4em;
  font-size: min(7vw, 25px);
}
.category_1 .pc_de_bodoge {
  display: flex;
  align-items: top;
  justify-content: center;
}
@media screen and (max-width: 450px) {
  .category_1 .pc_de_bodoge {
    display: inline-block;
  }
}
.category_1 .pc_bodoge_image img {
  border: solid 2px #FBBF66;
  box-shadow: 0 0 5px #7a5216;
  margin: 0.5em 0 0 0.5em;
  float: right;
  width: clamp(200px, 30vw, 400px);
}
@media screen and (max-width: 450px) {
  .category_1 .pc_bodoge_image img {
    width: 240px;
    float: none;
    margin-bottom: 1em;
  }
}
.category_1 ul.list {
  padding: 0 0 2em 2em;
  list-style: square;
  line-height: 1.3em;
  text-align: left;
  display: inline-block;
}
@media screen and (max-width: 450px) {
  .category_1 ul.list {
    width: 90%;
    margin: auto;
    padding: 0 0 1em 1em;
  }
}
.category_1 ul.list li {
  padding-bottom: 1em;
}

/******************************
category_2
******************************/
.category_2 {
  width: 100%;
  text-align: center;
  /* shop */
}
.category_2 h2 {
  font-size: min(7vw, 25px);
}
.category_2 p {
  font-size: min(7vw, 25px);
  word-break: keep-all;
}
.category_2__title {
  font-size: min(9vw, 50px);
  color: #814D00;
  text-align: center;
  white-space: no-wrap;
  display: inline-block;
}
.category_2__title img {
  width: min(2em, 100px);
  display: inline-block;
}
.category_2__title .title_text {
  padding: 0 0.2em;
}
.category_2__waku {
  max-width: 1000px;
  padding: 4vh;
  margin-top: 2vh;
  text-align: center;
  border-top: solid 5px #814D00;
  border-bottom: solid 5px #814D00;
  border-image: linear-gradient(90deg, #814D00 0%, #FBBF66 50%, #814D00 100%) 1;
  background-color: #E4D9CF;
  word-break: break-all;
}
@media screen and (max-width: 350px) {
  .category_2__waku {
    padding: 2vh 1.5vh;
  }
}
.category_2__layout_left {
  text-align: left;
  display: inline-block;
}
.category_2__calendar_waku {
  max-width: 1000px;
  height: 680px;
  padding: 3vh 4vh;
  margin-top: 2vh;
  text-align: center;
  border-top: solid 5px #814D00;
  border-bottom: solid 5px #814D00;
  border-image: linear-gradient(90deg, #814D00 0%, #FBBF66 50%, #814D00 100%) 1;
  background-color: #E4D9CF;
  word-break: keep-all;
}
@media screen and (max-width: 450px) {
  .category_2__calendar_waku {
    padding: 2vh 1.5vh;
    height: 750px;
  }
}
.category_2 #calendar {
  text-align: center;
}

/******************************
shop
******************************/
.shop {
  width: 95%;
  margin: auto;
  text-align: center;
  word-break: keep-all;
  line-height: 1em;
  font-size: min(7vw, 25px);
}
.shop .image_3d {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  column-gap: 1vw;
}
.shop .image_3d img {
  border: solid 2px #FBBF66;
  box-shadow: 0 0 5px #7a5216;
  display: inline-block;
  margin-bottom: 1vh;
}

/******************************
map
******************************/
.map_waku {
  max-width: 1000px;
  padding: 0 0 1px 0;
  margin-top: 1vh;
  text-align: center;
  border: solid 1px #814D00;
  border-image: linear-gradient(150deg, #814D00 10%, #FBBF66 50%, #814D00 60%, #FBBF66 90%) 1;
  background-color: #E4D9CF;
}

/******************************
reset.scss
******************************/
*,
html {
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/* Vertical rhythm */
/* ============================================ */
a {
  text-decoration: none;
}

p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

iframe {
  display: block;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type=checkbox] {
  -webkit-appearance: checkbox;
  appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  appearance: radio;
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/******************************
footer
******************************/
footer {
  font-family: "Murecho", sans-serif;
  font-weight: 900;
  font-size: 14px;
  font-weight: 600;
  width: 100%;
  text-align: center;
  background-color: #e7e9ed;
  padding: 5vh 0 10vh;
  box-shadow: 0 -5px 10px 0px rgba(0, 0, 0, 0.2);
}
footer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}
@media screen and (max-width: 768px) {
  footer ul {
    width: 80%;
    margin: auto;
  }
}
footer ul li {
  white-space: no-wrap;
}

/******************************
hamburger.scss
******************************/
.c-header {
  align-items: center;
  background-color: #eeeeee; /* カスタマイズしてください */
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem; /* カスタマイズしてください */
  width: 100%;
  font-size: min(5vw, 18px);
}

.c-header__logo {
  color: #000; /* カスタマイズしてください */
  min-width: 80px; /* カスタマイズしてください */
  text-decoration: none;
  padding: 1.5vh 2vw 0;
}

.c-header__list {
  box-sizing: border-box;
  display: flex;
  margin: 0;
  padding: 0;
  margin-top: 0.2vh;
}

.c-header__list-item {
  list-style: none;
  text-decoration: none;
}

.c-header__list-link {
  color: #000; /* カスタマイズしてください */
  display: block;
  margin-right: 20px; /* カスタマイズしてください */
  text-decoration: none;
  padding: 10px 0px; /* カスタマイズしてください */
}

.c-header__list-link:hover {
  filter: opacity(0.6); /* カスタマイズしてください */
}

.c-hamburger-menu {
  position: relative;
}

@media screen and (max-width: 750px) {
  .c-hamburger-menu__list {
    background-color: #eeeeee; /* カスタマイズしてください */
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    left: 0;
    padding: 2rem; /* カスタマイズしてください */
    position: absolute;
    transform: translateX(100%);
    transition: 0.3s; /* カスタマイズしてください */
    top: 100%;
    width: 100%;
  }
  #hamburger:checked ~ .c-hamburger-menu__list {
    transform: translateX(0%);
    transition: 0.3s;
  }
}
.c-hamburger-menu__input {
  display: none;
}

.c-hamburger-menu__bg {
  background-color: #000; /* カスタマイズしてください */
  cursor: pointer;
  display: none;
  height: 100vh;
  left: 0;
  opacity: 0.4; /* カスタマイズしてください */
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

#hamburger:checked ~ .c-hamburger-menu__bg {
  display: block;
}

.c-hamburger-menu__button {
  display: none;
}

@media screen and (max-width: 750px) {
  .c-hamburger-menu__button {
    align-items: center;
    appearance: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 5px; /* カスタマイズしてください */
    height: 32px; /* カスタマイズしてください */
    justify-content: center;
    width: 32px; /* カスタマイズしてください */
  }
}
.c-hamburger-menu__button-mark {
  background-color: #000; /* カスタマイズしてください */
  display: block;
  height: 1px; /* カスタマイズしてください */
  transition: 0.3s; /* カスタマイズしてください */
  width: 20px; /* カスタマイズしてください */
}

@media screen and (max-width: 750px) {
  #hamburger:checked ~ .c-hamburger-menu__button .c-hamburger-menu__button-mark:nth-of-type(1) {
    transform: translate(2px, 1px) rotate(45deg); /* カスタマイズしてください */
    transform-origin: 0%; /* カスタマイズしてください */
  }
  #hamburger:checked ~ .c-hamburger-menu__button .c-hamburger-menu__button-mark:nth-of-type(2) {
    opacity: 0;
  }
  #hamburger:checked ~ .c-hamburger-menu__button .c-hamburger-menu__button-mark:nth-of-type(3) {
    transform: translate(2px, 3px) rotate(-45deg); /* カスタマイズしてください */
    transform-origin: 0%; /* カスタマイズしてください */
  }
}
/******************************
calender.scss
******************************/
.fc .fc-button-primary {
  background-color: #814D00;
  border-color: #fff;
}
.fc .fc-scrollgrid {
  border: none;
  background-color: #f1ecea;
}

.fc .fc-scrollgrid-section > * {
  border: none;
}

.fc .fc-scrollgrid-sync-table {
  border: 1px;
}

.fc-dayGridMonth-view {
  height: 600px;
}

th.fc-day-mon,
th.fc-day-tue,
th.fc-day-wed,
th.fc-day-thu,
th.fc-day-fri {
  background-color: #dbc5b4;
}

th.fc-day-sat {
  background-color: #7bbbff;
}

.fc-day-sat .fc-daygrid-day-frame {
  background-color: #eaf4ff;
}

.fc-day-sun {
  background-color: #ff9d9d;
}

.fc-day-sun .fc-daygrid-day-frame {
  background-color: #ffd3d3;
}

.fc table td {
  border: 1px solid #814D00;
}

.fc-theme-standard td, .fc-theme-standard th {
  border: 1px solid #814D00;
}

.fc-daygrid {
  border: 1px solid #814D00;
}

.fc-header-toolbar .fc-toolbar {
  white-space: nowap;
  display: inline-block;
}

@media screen and (max-width: 450px) {
  .fc .fc-toolbar {
    display: block;
  }
}

.fc .fc-toolbar.fc-header-toolbar {
  margin: 0.5em 0;
}

.fc .fc-button {
  padding: 0.1em 0.3em;
}

.fc .fc-toolbar-title {
  font-size: min(5vw, 20px);
}/*# sourceMappingURL=style.css.map */